*.tlog
*.pdb
*.obj
*.idb
*.exe
*.ilk
*.lastbuildstate
*.log
*.sdf
*.ipch
*.opensdf
*.gif
*.css
*.XML
*.rc
*.manifest
*.xslt
*.res
*.suo
*.filters
*.user
lab4/Debug/wzr_vis.vcxprojResolveAssemblyReference.cache